.Modal{

    position: absolute;
    top: 50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
    /*border: 2px solid black;*/
    padding: 10px 10px 10px 10px;

}
#container{
    max-width:1000px;
    margin:  auto;
    /*display: block;*/

}
#header{
    display: block;
    position: fixed;
    top:0;
    left:0;
}
